
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
			
			body {
				font-family: 'Lato';
				background-color: #f0f0f0;
				/*margin: 0px auto;*/
				
				max-width: 100%;
				z-index:2;
				/*-webkit-column-count:2;  Chrome, Safari, Opera */
				/*-moz-column-count:2; /* Firefox */
				column-count:2;
			}
			
			#overlay {
				position: fixed;
				top: 0px;
				left: 0px;
				width: 90%;
				z-index:-1;
				-o-transform : scaleX(-1);
				-webkit-transform : scaleX(-1);
				transform : scaleX(-1);
				-ms-filter : fliph; /*IE*/
				filter : fliph; /*IE*/
			}

			#videoel {
			position: fixed;
			z-index:-10;
			-o-transform : scaleX(-1);
			-webkit-transform : scaleX(-1);
			transform : scaleX(-1);
			-ms-filter : fliph; /*IE*/
			filter : fliph; /*IE*/
				position: fixed;
				width: 90%;
				top:0;
				left:150;
				right:0;
				bottom:0;

			}
			
			#container {
				position : relative;
				width : 90%;
				margin : 0px auto;
				z-index:100;
			}
			
			#content {
				margin-top : 70px;
				margin-left : 100px;
				margin-right : 100px;
				column-span: all;
				max-width: 100%;
				z-index:1;
			}
			
			#p5canvas {
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				-o-transform : scaleX(-1);
				-webkit-transform : scaleX(-1);
				transform : scaleX(-1);
				-ms-filter : fliph; /*IE*/
				filter : fliph; /*IE*/
				z-index:1;
			}
			
			#filter {
				display: none;
			}

			#clock{
			position:relative;
			/*border:solid 1px #ddd;*/
			margin-left:auto;
			/*margin-right:auto;*/
			width:150px;
			color:#fff;
			/*background-color:#000;*/
			font-size:4em;
			/*box-shadow:5px 5px 2px #888;*/
			font-family:  sans-serif;
			z-index:2;
			/*text-align:left;*/

			}
			
	/*		h2 {
				font-weight : 400;
			}*/

			.nogum {
				display : none;
			}
			
			.btn {
				font-family: 'Lato';
				font-size: 16px;
				z-index:9;
			}

			.hide {
				display : none;
			}

			.nohide {
				display : block;
			}

			p {
			max-width:200px;
			align: right;
			z-index:2;			
			}

			image {
				align: right;
				z-index:2;
			}



